In [1]:
# TF-IDF implementation
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
documents = [
   "I love machine learning because machines can learn",
   "I love deep learning",
   "Deep learning is a subset of machine learning"
]

In [5]:
vectorizer = TfidfVectorizer()

In [7]:
X = vectorizer.fit_transform(documents)

In [9]:
feature_names = vectorizer.get_feature_names_out()

In [13]:
import pandas as pd

In [15]:
df_tfidf = pd.DataFrame(
data=X.toarray(),
index=["Doc " + str(i+1) for i in range(len(documents))],
columns=feature_names)

In [17]:
df_tfidf

,because,can,deep,is,learn,learning,love,machine,machines,of,subset
Doc 1,0.426184,0.426184,0.000000,0.000000,0.426184,0.251711,0.324124,0.324124,0.426184,0.000000,0.000000
Doc 2,0.000000,0.000000,0.619805,0.000000,0.000000,0.481334,0.619805,0.000000,0.000000,0.000000,0.000000
Doc 3,0.000000,0.000000,0.322764,0.424396,0.000000,0.501310,0.000000,0.322764,0.000000,0.424396,0.424396